<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/course-notes/">Course Notes</a></li>
        <li><a href="{{ site.baseurl }}/topic-notes/">Topic Notes</a></li>
        <li><a href="{{ site.baseurl }}/projects/portfolio.html">Projects</a></li>
        <li><a href="{{ site.baseurl }}/tutorials/">Tutorials</a></li>
      </ul>
    </nav>
    
    
  </header>

  <main>
    {{ content }} <!-- This will inject your markdown content -->
  </main>

  <footer>
    <p>&copy; 2024 Dev Journal. All rights reserved.</p>
  </footer>
</body>
</html>
